
body {
    background: linear-gradient(135deg, rgb(59, 116, 190) 0%, rgb(67, 166, 82)  100%);
}

.hide {
    display: none;
    /* visibility: hidden; */
}

.title {
    text-align: center;
    width: 80%;
    margin: auto;
    padding:30px;
    /* box-shadow: 0 2px 15px rgba(64,64,64,.7); */
    text-shadow: 0 8px 8px rgba(64,64,64,.7);
    font-family: 'Pacifico';
    font-size: 400%;
    font-weight:900;
}

table {
    width: 70%;
    /* margin-left: 10vw;
    margin-right: 10vw; */
    margin:auto;
    text-align: center;
    /* margin-top: 30px;
    margin-bottom: 30px; */
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 2px 15px rgba(64,64,64,.7);
    border-radius: 12px 12px 0 0;
}

th  /* Table Headers */
{
    background-color: rgb(49, 38, 154);
    padding-top:15px;
    padding-bottom: 15px;
    padding-right: 10px;
    padding-left: 10px;
    
    text-align: center;
    font-family: 'Pacifico';
    font-size: 130%;
    font-weight: 1000;
    /* text-transform: uppercase; */
    color: #dedede;
}

tr:hover {
    background-color: rgb(215, 215, 215);
    border: 1px solid black;
}

tr {
    background-color: #fafafa;
}

tr:nth-child(even) {
    background-color: #eeeeee;
}