/* ---------------- OVERALL BACKGROUND ---------------- */
body {
    /* background: linear-gradient(135deg, rgb(59, 116, 190) 0%, rgb(67, 166, 82) 100%); */
    background-color: rgb(0, 0, 0);
}

/* ---------------- SECTIONS ---------------- */

.Sorting {
    background: linear-gradient(135deg, rgb(59, 116, 190) 0%, rgb(67, 166, 82) 100%);
    padding-bottom: 10vh;
    padding-top: 5vh;
    /* border-radius: 20%; */
    border-radius: 100px;
    margin-right: 5vw;
    margin-left: 5vw;
}

.Graph {
    background: linear-gradient(135deg, rgb(59, 116, 190) 0%, rgb(67, 166, 82) 100%);
    padding-bottom: 10vh;
    padding-top: 5vh;
    /* border-radius: 20%; */
    border-radius: 100px;
}

.Divider {
    height: 10vh;
    background-color: solid black;
}

/* ---------------- HELPERS ----------------*/
.hide {
    display: none;
    /* visibility: hidden; */
}


/* ---------------- ELEMENTS ---------------- */
.title

/* Table Titles */
    {
    text-align: center;
    padding: 30px;
    /* box-shadow: 0 2px 15px rgba(64,64,64,.7); */
    text-shadow: 0 8px 8px rgba(64, 64, 64, .7);
    font-family: 'Pacifico';
    font-size: 400%;
    font-weight: 900;
}

table

/* Table Elements */
    {
    width: 70%;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    /* box-shadow: 0 2px 15px rgba(64, 64, 64, .7); */
    /* border-radius: 12px 12px 0 0; */
    /* border-radius: 100px; */
}

th

/* Table Headings */
    {
    background-color: rgb(49, 38, 154);
    /* padding-top: 15px; */
    /* padding-bottom: 15px; */
    /* padding-right: 10px; */
    /* padding-left: 10px; */

    text-align: center;
    font-family: 'Pacifico';
    font-size: 130%;
    font-weight: 1000;
    /* text-transform: uppercase; */
    color: #dedede;
    /* border-radius: 30px; */
}

th:first-child {
    /* border-radius: 50% 0% 0% 50%; */
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

th:last-child {
    /* border-radius: 0% 50% 50% 0%; */
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}


tr {
    /* background-color: #fafafa; */
    height: 10vh;
    /* border-radius: 100px; */

}

td {
    font-size: large;
    text-shadow: 0 2px 2px rgb(129, 129, 129);
    border-radius: 20px;
}

.Sorting td:hover {
    /* Specifies TD elements that are CHILDREN of SORTING class */
    background-color: rgb(0, 0, 0, 10%);
}






/* 
body {
    min-height: 100vh;
    background: rgb(25, 25, 92);
} */

#interactiveBackgroundContainer {
    overflow: hidden;
}

.bubbles {
    position: relative;
    display: flex;
    /* overflow: hidden; */
}

.bubbles span {
    z-index: -1;
    position:relative;
    
    width: 7px;
    height: 7px;
    background: rgb(103, 238, 231);
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 3px darkcyan,
    0 0 20px lightcyan,
    0 0 40px darkgoldenrod;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}

.bubbles span:nth-child(2n) {
    background: rgb(113, 71, 165);
    box-shadow: 0 0 0 3px rgb(56, 25, 97),
    0 0 20px rgb(175, 170, 101),
    0 0 40px rgb(223, 235, 120);
}

@keyframes animate {
    0%
    {
        transform: translateY(2000px) scale(0);
    }
    100%
    {
        transform: translateY(-10vh) scale(1);
    }
}